.Container {
    display: flex;
    flex-direction: column;
}

.Separator {
    border-bottom: 1px solid;
}

.Character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Character__container{
    box-shadow: 4px 2px 18px rgb(0 0 0 / 32%);
    margin: 17px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.Character__container button{
    color: #808080;
    background: transparent;
    border: 1px solid #CCCCCC;
    padding: .3em;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-bottom: 7px;
}


.Character__info{
    text-align: left;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.Character__title{
    font-size: 1.4em;
    font-weight: bold;
}

.Character__status{
    font-size: 0.9em;
    margin-bottom: 8px;
    color: #AAA;
}

.Character__origin{
    color:#808080;
}