.Header button{
    color: #808080;
    background: transparent;
    border: 1px solid #CCCCCC;
    padding: 1em;
    font-size: 1em;
    border-radius: 25px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.Header__button--dark{
    color: white !important;
}